<!-- templates/header.html -->
<header th:fragment="mainHeader">
    <div class="header-container">
        <a class="logo" th:href="@{/}">
            <img th:src="@{/img/logoMetamapa.png}" alt="Logo MetaMapa" />
        </a>
        <nav class="nav-links">
            <a class="btn btn-primary" th:href="@{/inicioSesion}">Iniciar sesión</a>
            <a class="btn btn-primary" th:href="@{/registro}">Registrarse</a>
            <a class="btn btn-icon" th:href="@{/sobre-nosotros}" title="Sobre MetaMapa">?</a>
        </nav>
    </div>
</header>
