<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header.css">

    <title>Title</title>
</head>
<body>
<header>
    <div class="container header-container">
        <div class="logo">
            <img src="./logoMetamapa.jpg" alt="Logo MetaMapa" />
        </div>
        <nav class="nav-links">
            <a href="#">Ver hechos</a>
            <a class="btn btn-outline" href="../inicioSesion.html">Iniciar sesión</a>
            <a class="btn btn-primary" href="../registro.html">Registrarse</a>
        </nav>
    </div>
</header>
</body>
</html>